<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mypc.Shee">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".Helper.MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Helper.HomeActivity" />
        <activity android:name=".SchemesActivity" />
        <activity android:name=".BasicformsActivity" />
        <activity android:name=".EducationActivity" />
        <activity android:name=".SafetyActivity" />
        <activity android:name=".EnterpreneursActivity" />
        <activity android:name=".Health" />
        <activity android:name=".OtherActivity" />
        <activity android:name=".AadharActivity" />
        <activity android:name=".PostofficeActivity" />
        <activity android:name=".TrainActivity" />
        <activity android:name=".SeniorCitizenActivity" />
        <activity android:name=".PregnentLadiesActivity" />
        <activity android:name=".DifferentlyAbledActivity" />
        <activity android:name=".TransgenderActivity" />
        <activity android:name=".WidowedActivity" />
        <activity android:name=".NormalActivity" />
        <activity android:name=".Sch1Activity" />
        <activity android:name=".Sch2Activity" />
        <activity android:name=".Sch3Activity" />
        <activity android:name=".Sch4Activity" />
        <activity android:name=".Ent1Activity" />
        <activity android:name=".Ent2Activity" />
        <activity android:name=".Ent3Activity" />
        <activity android:name=".Ent4Activity" />
        <activity android:name=".ExamActivity" />
        <activity android:name=".food1Activity" />
        <activity android:name=".food2Activity" />
        <activity android:name=".food3Activity" />
        <activity android:name=".food4Activity" />
        <activity android:name=".EntLoanActivity" />
        <activity android:name=".TrainingActivity"></activity>
    </application>

</manifest>